*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'ABeeZee', sans-serif;
}

main{
    display: flex;
}

.c-g{
    color: rgb(158, 158, 158);
}

.c-w{
    color: white;
}

.p-f-20{
    padding: 20px;
}

.p-b-30{
    padding-bottom: 30px;
}

.p-b-10{
    padding-bottom: 10px;
}

li{
    list-style-type: none;
}

.f-25{
    font-size: 20px;
}

.t-c{
    text-align: center;
}

.f-13{
    font-size: 13px;
}

.p-l-20{
    padding-left: 20px;
}

.p-l-10{
    padding-left: 10px;
}
.d-inl{
    display: inline;
}

.b{
    display: block;
}

.marg-top-30{
    margin-top: 30px;
}

/* main */
main{
    background-color: black;
    width: 100%;
    height: calc(100vh - 90px);
    overflow: hidden;
    display: flex;
}

/* main sinistra */
.ml{
    width: 300px;
    height: 100%;
}

.logo{
    width: 150px;
}

.link{
    text-decoration: none;
}

.d-f-l{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.d-m-f{
    display: flex;
    align-items: center;
}

.f-43{
    font-size: 43px;
}

.piu{
    display: block;
    background-color: rgb(158, 158, 158);
    color: black;
    width: 47px;
    height: 47px;
}

.h-150{
    min-height: 150px;
    height: 30vh;
    width: 100%;
    overflow: auto;
}

.p-b-20{
    padding-bottom: 20px;
}

.grow{
    width: 100%;
    height: 50vh;
}


/* main destra */
/* seconda sezione */
.mr{
    width: 100%;
    height: 100%;
    background-color: #282828;
    overflow: auto;
}

.fix{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: end;
    padding: 20px;
    top: 0;
    width: 82%;
}

.btn-f{
    border-radius: 60px;
    border: 1px solid white;
    padding: 15px;
}

.mar-r{
    margin-right: 20px;
}

.mar-top{
    margin-top: 115px;
}

.d-f-r{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-cen{
    justify-content: center;
}

/* quarta sezione */
.flex-d{
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6);
    padding-left: 10px;
}

.album{
    width: 100%;
}

/* quinta sezione */

/* footer */
footer{
    background-color: rgb(26, 26, 26);
    width: 100%;
    height: 90px;
}



@media all and (max-width: 1100px){
    .fix{
        width: 79%;
    }

    .card {
        width: calc(100% / 4);
        padding-left: 10px;
    }

}

@media all and (max-width: 700px){
    .fix{
        width: 68%;
    }

    .card {
        width: calc(100% / 2);
        padding-left: 10px;
    }
}

@media all and (max-width: 600px){
    .ml{
        width: 70px;
        height: 100%;
    }

    .fix{
        width: 90%;
    }

}