*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'ABeeZee', sans-serif;
}

main{
    display: flex;
}

.d-none{
    display: none;
}

.c-g{
    color: rgb(158, 158, 158);
}

.c-w{
    color: white;
}

.p-f-20{
    padding: 20px;
}

.p-b-30{
    padding-bottom: 30px;
}

.p-b-10{
    padding-bottom: 10px;
}

li{
    list-style-type: none;
}

.f-25{
    font-size: 20px;
}

.f-15{
    font-size: 15px;
}

.bord-bott{
    border-bottom: 1px solid rgb(158, 158, 158) ;
}

.t-c{
    text-align: center;
}

.f-10{
    font-size: 10px;
}

.f-13{
    font-size: 13px;
}

.p-r-10{
    padding-right: 10px;
}

.p-r-20{
    padding-right: 20px;
}

.p-l-20{
    padding-left: 20px;
}

.widt{
    width: 50vw;
}

.wid{
    width: 100%;
}

.p-l-10{
    padding-left: 10px;
}

.d-inl{
    display: inline;
}

.d-inl-b{
    display: inline-block;
}

.d{
    display: block;
}

.marg-top-30{
    margin-top: 30px;
}

.marg-top-10{ 
    margin-top: 10px;
}

.b-r{
    border-radius: 50%;
}

/* main */
main{
    background-color: black;
    width: 100%;
    height: calc(100vh - 90px);
    overflow: hidden;
    display: flex;
}

/* main sinistra */
.ml{
    width: 300px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.logo{
    width: 150px;
}

.link{
    text-decoration: none;
}

.h100{
    height: 96%;
}

.d-f-l{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 161px);
}

.d-m-f{
    display: flex;
    align-items: center;
}

.f-43{
    font-size: 43px;
}

.disp-none ul{
    height: calc(80vh - 295px);
    overflow: auto;
}

.he-195{
    height: 295px;
}

.bac{
    background-color: black;
}

.p-t-10{
    padding-top: 10px;
}

.piu{
    display: block;
    background-color: rgb(158, 158, 158);
    color: black;
    width: 47px;
    height: 47px;
}

.h-150{
    height: 131px;
    min-height: 82px;
    width: 100%;
}

.p-b-20{
    padding-bottom: 20px;
}

.download{
    width: 15px;
}

.profilo{
    width: 30px;
}

.pad-5{
    padding: 5px;
    background-color: rgb(158, 158, 158);
}


/* main destra */
/* seconda sezione */
.mr{
    width: 100%;
    height: 100%;
    background-color: #282828;
    overflow: auto;
}

.fix{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: end;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
}

.btn-f{
    border-radius: 60px;
    border: 1px solid white;
    padding: 15px;
}

.mar-r{
    margin-right: 20px;
}

.mar-top{
    margin-top: 115px;
}

.d-f-r{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-cen{
    justify-content: center;
}

/* quarta sezione */
.flex-d{
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6);
    padding-left: 10px;
}

.album{
    width: 100%;
}

/* quinta sezione */
.artisti{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* footer */
footer{
    background-color: rgb(26, 26, 26);
    width: 100%;
    height: 90px;
}

.foot-flex{
    display: flex;
    justify-content: space-between;
}

.sinister-flex{
    display: flex;
    align-items: center;
    width: 30%;
    height: 60px;
}

.brano-play{
    width: 50px;
}

.barra{
    display: inline-block;
    width: 76%;
    border:2px solid rgb(158, 158, 158) ;
    border-radius: 0px 20px 20px 0px;
}

.barra-c{
    display: inline-block;
    width: 20%;
    border: 2px solid white;
    border-radius: 20px 0px 0px 20px;

}

.barra-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  40%;
    height: 40px;
    margin-right: 5px;
}

.carica-f{
    display: flex;
    align-items: center;
    width: 100%;
}

.volume-f{
    display: flex;
    align-items: center;
    width: 40%;
}

.play{
    padding: 5px;
    border: 4px solid white;
    border-radius: 50%;
}


.flex-audio{
    width:  30%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media all and (max-width: 1100px){
    .card {
        width: calc(100% / 4);
        padding-left: 10px;
    }

    .sinister-flex{
        width:  250px;
    }

    .barra-flex{
        width:  45%;
    }

    .flex-audio{
    width:  250px;
    }

}

@media all and (max-width: 700px){
    .card {
        width: calc(100% / 2);
        padding-left: 10px;
    }
}

@media all and (max-width: 600px){
    .ml{
        width: 70px;
        height: 100%;
    }

    .disp-none{
        display: none;
    }

    .d-none{
        display: block;
    }

    .logo-small{
        width: 35px;
    }

    .t-c-600{
        text-align: center;
    }

    .d-f-l{
    justify-content: flex-end;
    }
}